body{
  font-family: arial;
  padding: 10px;

}

h1{
  color: rgb(255, 255, 255);
  background-color: rgb(86, 137, 204);
  border: 2px solid black;
  border-color: rgb(86, 137, 204);
  padding: 20px;
  border-radius: 9px;
  width: 1700px;


}

p{
  font-family: sans-serif;
}

div.links{
  text-align: center;
}

div.footer{
  text-align: center;

}

iframe{
  border: 5px solid rgb(86, 137, 204);
  border-radius: 9px;
}

div.testing{
  color: rgb(255, 255, 255);
  background-color: rgb(86, 137, 204);
  border: 2px solid black;
  border-color: rgb(86, 137, 204);
  padding: 20px;
  border-radius: 9px;
  width: 30px;
  text-align: center;

}

ol{
  list-style-type: disc;
}

.rat1, .rat2, .rat3, .rat4{
  width: 325px;
  float: left;
  margin: auto;
}
